[user]
	email = carboxy17@gmail.com
	name = CarboxyDev
[pull]
	rebase = true
[push]
	default = current
[init]
	defaultBranch = main
[core]
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[rerere]
	enabled = true
